<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fizzler" version="1.1.0" targetFramework="net461" />
  <package id="ICSharpCode.WpfDesigner" version="8.0.171" targetFramework="net461" />
  <package id="IronPdf" version="2019.8.9" targetFramework="net461" />
  <package id="Svg" version="3.0.84" targetFramework="net461" />
</packages>